USE [master]
GO
/****** Object:  Database [community_hospital]    Script Date: 2/2/2015 4:31:40 PM ******/
CREATE DATABASE [community_hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'community_hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\community_hospital.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'community_hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\community_hospital_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [community_hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [community_hospital]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/2/2015 4:31:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AllocateMedicines]    Script Date: 2/2/2015 4:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllocateMedicines](
	[AllocateMedicineId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictThanaRelationshipId] [int] NOT NULL,
	[ServiceCenterId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
	[ADistrict_DistrictId] [int] NULL,
	[AThana_ThanaId] [int] NULL,
 CONSTRAINT [PK_dbo.AllocateMedicines] PRIMARY KEY CLUSTERED 
(
	[AllocateMedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2/2/2015 4:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DistrictThanaRelationships]    Script Date: 2/2/2015 4:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictThanaRelationships](
	[DistrictThanaRelationshipId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[ThanaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DistrictThanaRelationships] PRIMARY KEY CLUSTERED 
(
	[DistrictThanaRelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 2/2/2015 4:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Medicines] PRIMARY KEY CLUSTERED 
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceCenters]    Script Date: 2/2/2015 4:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCenters](
	[ServiceCenterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[DistrictId] [int] NOT NULL,
	[ThanaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ServiceCenters] PRIMARY KEY CLUSTERED 
(
	[ServiceCenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thanas]    Script Date: 2/2/2015 4:31:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanas](
	[ThanaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DistrictThanaRelationship_DistrictThanaRelationshipId] [int] NULL,
 CONSTRAINT [PK_dbo.Thanas] PRIMARY KEY CLUSTERED 
(
	[ThanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AllocateMedicines] ON 

INSERT [dbo].[AllocateMedicines] ([AllocateMedicineId], [DistrictThanaRelationshipId], [ServiceCenterId], [MedicineId], [ADistrict_DistrictId], [AThana_ThanaId]) VALUES (1, 1, 1, 1, NULL, NULL)
INSERT [dbo].[AllocateMedicines] ([AllocateMedicineId], [DistrictThanaRelationshipId], [ServiceCenterId], [MedicineId], [ADistrict_DistrictId], [AThana_ThanaId]) VALUES (2, 2, 1, 2, NULL, NULL)
INSERT [dbo].[AllocateMedicines] ([AllocateMedicineId], [DistrictThanaRelationshipId], [ServiceCenterId], [MedicineId], [ADistrict_DistrictId], [AThana_ThanaId]) VALUES (4, 2, 3, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AllocateMedicines] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([DistrictId], [Name]) VALUES (1, N'Barguna')
INSERT [dbo].[Districts] ([DistrictId], [Name]) VALUES (2, N'Barisal')
INSERT [dbo].[Districts] ([DistrictId], [Name]) VALUES (3, N'Bhola')
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[DistrictThanaRelationships] ON 

INSERT [dbo].[DistrictThanaRelationships] ([DistrictThanaRelationshipId], [DistrictId], [ThanaId]) VALUES (1, 1, 2)
INSERT [dbo].[DistrictThanaRelationships] ([DistrictThanaRelationshipId], [DistrictId], [ThanaId]) VALUES (2, 1, 1)
INSERT [dbo].[DistrictThanaRelationships] ([DistrictThanaRelationshipId], [DistrictId], [ThanaId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[DistrictThanaRelationships] OFF
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineId], [Name], [Weight]) VALUES (1, N'Parasitamol', N'20gr')
INSERT [dbo].[Medicines] ([MedicineId], [Name], [Weight]) VALUES (2, N'Setam Plus', N'35gr')
INSERT [dbo].[Medicines] ([MedicineId], [Name], [Weight]) VALUES (3, N'Napa Extra', N'40gr')
SET IDENTITY_INSERT [dbo].[Medicines] OFF
SET IDENTITY_INSERT [dbo].[ServiceCenters] ON 

INSERT [dbo].[ServiceCenters] ([ServiceCenterId], [Name], [Code], [Password], [DistrictId], [ThanaId]) VALUES (1, N'ThairkholaCommunityHospital', N'THCH', N'THCH', 1, 1)
INSERT [dbo].[ServiceCenters] ([ServiceCenterId], [Name], [Code], [Password], [DistrictId], [ThanaId]) VALUES (2, N'Hatkhola Community Hospital', N'HACH', N'HACH', 3, 5)
INSERT [dbo].[ServiceCenters] ([ServiceCenterId], [Name], [Code], [Password], [DistrictId], [ThanaId]) VALUES (3, N'GouriporCommunityHospital', N'GOCH', N'GOCH', 3, 2)
SET IDENTITY_INSERT [dbo].[ServiceCenters] OFF
SET IDENTITY_INSERT [dbo].[Thanas] ON 

INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictThanaRelationship_DistrictThanaRelationshipId]) VALUES (1, N' Dashmina', NULL)
INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictThanaRelationship_DistrictThanaRelationshipId]) VALUES (2, N'Galachipa ', NULL)
INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictThanaRelationship_DistrictThanaRelationshipId]) VALUES (3, N' Kalapara ', NULL)
SET IDENTITY_INSERT [dbo].[Thanas] OFF
/****** Object:  Index [IX_ADistrict_DistrictId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ADistrict_DistrictId] ON [dbo].[AllocateMedicines]
(
	[ADistrict_DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AThana_ThanaId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AThana_ThanaId] ON [dbo].[AllocateMedicines]
(
	[AThana_ThanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[AllocateMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceCenterId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceCenterId] ON [dbo].[AllocateMedicines]
(
	[ServiceCenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistrictId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_DistrictId] ON [dbo].[DistrictThanaRelationships]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistrictId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_DistrictId] ON [dbo].[ServiceCenters]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThanaId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThanaId] ON [dbo].[ServiceCenters]
(
	[ThanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistrictThanaRelationship_DistrictThanaRelationshipId]    Script Date: 2/2/2015 4:31:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_DistrictThanaRelationship_DistrictThanaRelationshipId] ON [dbo].[Thanas]
(
	[DistrictThanaRelationship_DistrictThanaRelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllocateMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Districts_ADistrict_DistrictId] FOREIGN KEY([ADistrict_DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
GO
ALTER TABLE [dbo].[AllocateMedicines] CHECK CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Districts_ADistrict_DistrictId]
GO
ALTER TABLE [dbo].[AllocateMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AllocateMedicines] CHECK CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Medicines_MedicineId]
GO
ALTER TABLE [dbo].[AllocateMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateMedicines_dbo.ServiceCenters_ServiceCenterId] FOREIGN KEY([ServiceCenterId])
REFERENCES [dbo].[ServiceCenters] ([ServiceCenterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AllocateMedicines] CHECK CONSTRAINT [FK_dbo.AllocateMedicines_dbo.ServiceCenters_ServiceCenterId]
GO
ALTER TABLE [dbo].[AllocateMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Thanas_AThana_ThanaId] FOREIGN KEY([AThana_ThanaId])
REFERENCES [dbo].[Thanas] ([ThanaId])
GO
ALTER TABLE [dbo].[AllocateMedicines] CHECK CONSTRAINT [FK_dbo.AllocateMedicines_dbo.Thanas_AThana_ThanaId]
GO
ALTER TABLE [dbo].[DistrictThanaRelationships]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DistrictThanaRelationships_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DistrictThanaRelationships] CHECK CONSTRAINT [FK_dbo.DistrictThanaRelationships_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[ServiceCenters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceCenters_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCenters] CHECK CONSTRAINT [FK_dbo.ServiceCenters_dbo.Districts_DistrictId]
GO
ALTER TABLE [dbo].[ServiceCenters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ServiceCenters_dbo.Thanas_ThanaId] FOREIGN KEY([ThanaId])
REFERENCES [dbo].[Thanas] ([ThanaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceCenters] CHECK CONSTRAINT [FK_dbo.ServiceCenters_dbo.Thanas_ThanaId]
GO
ALTER TABLE [dbo].[Thanas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Thanas_dbo.DistrictThanaRelationships_DistrictThanaRelationship_DistrictThanaRelationshipId] FOREIGN KEY([DistrictThanaRelationship_DistrictThanaRelationshipId])
REFERENCES [dbo].[DistrictThanaRelationships] ([DistrictThanaRelationshipId])
GO
ALTER TABLE [dbo].[Thanas] CHECK CONSTRAINT [FK_dbo.Thanas_dbo.DistrictThanaRelationships_DistrictThanaRelationship_DistrictThanaRelationshipId]
GO
USE [master]
GO
